

h2{
    font-size:2em;
}

.derniers_articles{
    background-color:black;
}

.img-vignette img{
   aspect-ratio: 4/3;
}

.p1{
    font-family:'Times New Roman', Times, serif;
}

.bg-100{
    width:100% !important;
    background-color:red !important;
}

#container_opacite{
  width:80%;
  margin: auto;
  height:80%;
  background-color:white;
  position: absolute;
  opacity: 0.3;
  box-shadow: white 5px 5px 5px;
  border-radius: 20%;
}

.slider{
    position:relative;
    top: 0;
    left: 0;
    width:100%;
    height:100vh;
    background: linear-gradient(to left,#ba7453, #d1a984);
    z-index: -1;
}

.container_slider{
    display:flex;
    justify-content: center;
    align-items:center;
    background:transparent;
}

.hero{
    position:absolute;
    top:250px;
    height:60%;
    width:100%;
}
.hero img{
    object-fit: cover;
    height:100%;
    width:100%;
}

.hero h1{
    position:absolute;
    top:30%;
    color:white;
    left:2%;
    font-size: 3em;
}
