h2{
    font-size:2em;
}

.derniers_articles{
    background-color:black;
}

.img-vignette img{
   aspect-ratio: 4/3;
}

.p1{
    font-family:'Times New Roman', Times, serif;
}

.bg-100{
    width:100% !important;
    background-color:red !important;
}

.opacite{
  width:500px;
  height:500px;
  background-color:white;
  opacity:0.2;
  position: relative;
}